@charset "utf-8";
//general color definitions
$hotOpal: hsl(193, 100%, 48%);

// Set your brand colors
$black-bis: hsl(193, 52%, 7%);
$black-ter: hsl(193, 52%, 14%);
$grey-darker: hsl(193, 52%, 21%);
$grey-dark: hsl(193, 52%, 29%);
$grey: hsl(193, 52%, 48%);
$grey-light: hsl(193, 52%, 71%);
$grey-lighter: hsl(193, 52%, 86%);
$white-ter: hsl(193, 52%, 96%);
$white-bis: hsl(193, 52%, 98%);

// Update Bulma's global variables
$family-sans-serif: "Junction";
$primary: $grey-light;
$link: $hotOpal;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$box-radius: 12px;

// Import only what you need from Bulma
@import "../../../node_modules/bulma/bulma.sass";

@font-face {
  font-family: 'Junction';
  src: url('../fonts/junction-regular.woff');
}  

@font-face {
  font-family: 'Junction';
  src: url('../fonts/junction-bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Junction';
  src: url('../fonts/junction-light.woff');
  font-weight: lighter;
}
